.main-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
    max-width: 1400px;
    margin: 0 auto;
}

.create-character-section {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: var(--shadow);
}

.create-character-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-weight: bold;
  color: var(--text-color);
  font-family: "MedievalSharp";
}
  
.form-group input,
.form-group select,
.form-group textarea,
.stat-form-group input,
.equipment-section select{
  padding: 0.6rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  background-color: rgba(199, 191, 198, 0.493);
  scrollbar-width: none;
}
.equipment-section button{
  padding: 0.5rem 1rem;
  background-color: #3333;
  color: white;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  margin: 0.8rem;
  transition: var(--transition);
  align-self: center;
}
.equipment-section button:hover,
.abilities-input button:hover,
.traits-input button:hover,
.create-button:hover,
.reset-button:hover{
  background-color: rgb(74, 56, 95);
}
  
.traits-input input,
.abilities-input input{
  padding: 0.6rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  background-color: rgba(199, 191, 198, 0.493);
}
.traits-input button,
.abilities-input button,
.create-button,
.reset-button{
  padding: 0.5rem 1rem;
  background-color: #3333;
  color: white;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  margin: 0.8rem;
  transition: var(--transition);
  align-self: center;
}
.remove-trait,
.remove-ability{
  background-color: transparent;
  border-style: none;
  border-radius: 20px;
}

.remove-trait:hover,
.remove-ability:hover{
  background-color: red;
}


.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(123, 44, 191, 0.2);
  
}

.form-help {
  font-size: 0.8rem;
  color: var(--text-light);
  margin-top: 0.2rem;
}

.character-preview-section{
  background-color: rgba(152, 135, 173, 0.904);
  border-radius: 5px;
  font-family: "MedievalSharp";
  font-size: 1.2rem;
}