/* general apllpication */
:root {
  --primary-color: #7b2cbf;
  --primary-dark: #411e66;
  --secondary-color: #4e3a66;
  --secondary-dark: #411e66;
  --secondary-light: #ffca3a;
  --header-height: 60px;
  --footer-height: 60px;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MedievalSharp";
  margin-bottom: 2rem;
  color: var(--primary-dark);
}
a {
  text-decoration: none;
  transition: var(--transition);
  font-family: "MedievalSharp";
}
a:hover {
  color: var(--primary-dark);
}

button {
  cursor: pointer;
  transition: var(--transition);
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  background-color: #3208415d;
  color: white;
  padding: 0 2rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: var(--shadow);
}
